name: 静的解析
on:
  push:

jobs:
  run_lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['15.4.0']
    timeout-minutes: 300
    steps:
      - name: checkout pushed commit
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: run lint and test
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - run: npm install

      - run: npm run lint
